.chartContainer {
  width: 100%;
  height: 220px;
  position: relative;
}

.recharts-cartesian-grid-horizontal line {
  stroke: #ccc;
  stroke-width: 1px;
}

.recharts-cartesian-grid-vertical line {
  display: none;
}

.recharts-legend-item-text {
  display: none;
}

.recharts-wrapper {
  width: 100% !important;
}

@media (max-width: 767px) {
  .recharts-bar {
    width: 10px !important;
  }
}
