body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-darkgray,
.card-darkray {
  background-color: #202028 !important
}

.navbar-right span {
  background-color: #46474c;
  flex-direction: column;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 10px;

}

.header.navbar {
  padding-left: 15px;
  padding-right: 15px
}

.navbar-right span svg {
  fill: white
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 30px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search--input span,
.search--input input,
.search--input input:focus {
  background-color: #2a2b30;
  color: white;
  border-color: white;
}

.search--input input::placeholder {
  color: white;
}

/* sidebar */
.logo {
  width: 30px;
}

.sidebar {
  padding-top: 10px;
  margin-top: 58px;
  width: 70px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
}



.sidebar-top-icons,
.font-white {
  color: white
}

.sidebar-top-icons span {
  margin-bottom: 15px;
}

.sidebar-top-icons span,
.logout-icon {
  font-size: 20px;
}

.dashboard-right {
  margin-left: 70px;

}

/* donutbar */
.font-size-smaller {
  font-size: 11px;
}

/* imp links component */
.arrow-icon {
  width: 25px;
  height: 25px;
  opacity: .8;
}

.arrow-icon:hover {
  opacity: 1;
}